<template>
  <div class="container">
    <b-card title="Sign Up " class="">
      <b-form method="post" action="/users">
        <input type="hidden" name="authenticity_token" :value="csrf"/>
        <label class="mr-sm-2">Name</label>
        <b-input-group>
          <b-input type="name"
            class="input"
            name="name"/>
        </b-input-group>

        <label class="mr-sm-2">Email</label>
        <b-input-group>
          <b-input type="email"
            class="input"
            name="email"/>
        </b-input-group>

        <label class="mr-sm-2">Password</label>
        <b-input-group>
          <b-input type="password"
            class="input"
            name="password"/>
        </b-input-group>

        <label class="mr-sm-2">Confirm Password</label>
        <b-input-group>
          <b-input type="password"
            class="input"
            name="password_confirmation"/>
        </b-input-group>

        <br/>
        <b-button variant="primary" type="submit">Submit</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
export default {
  data: function() {
    return ({
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    })
  }
}
</script>

<style scoped>

</style>
