<template>
  <div class="container">
    <div class="mt-4">
      <b-button variant="primary" href="/articles/new">Create Article</b-button>
    </div>
    <b-card class="mt-4">
      <b-form-input size="sm" class="mb-4" v-model="search" type="text" placeholder="Search"/>

      <b-list-group v-for="i in filterArticlesList">
        <b-list-group-item :href="`/articles/${i.id}`">
          {{i.name}}
        </b-list-group-item>
      </b-list-group>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    _articles: {}
  },
  data() {
    return{
      search: '',
      articles: [],
    }
  },
  computed: {
    filterArticlesList() {
      if (this.articles) {
        return this.articles.filter(article => {
        return article.name.toLowerCase().includes(this.search.toLowerCase())
      })
      }
    }
  },
  mounted() {
    this.articles = this._articles
  }
}
</script>

<style scoped>

</style>
