<template>
  <div class="container">
    <b-card>
      <b-form method="post" action="/articles">
        <input type="hidden" name="authenticity_token" :value="csrf">

        <label class="mr-sm-2">Name</label>
        <b-input-group>
          <b-input type="text" class="input" name="name"/>
        </b-input-group>

        <label class="mr-sm-2">Document</label>
        <b-form-textarea
          name="document"
          v-model="model"
          id="textarea2"
          hidden>
         </b-form-textarea>
         <froala :tag="'textarea'" id="froala-editor" :config="config" v-model="model"></froala>
        <br/>
        <b-button  variant="primary" type="submit">Submit</b-button>
      </b-form>
    </b-card>
    <b-card title="Preview">
      <froalaView v-model="model"></froalaView>
    </b-card>
  </div>
</template>

<script>
import VueFroala from 'vue-froala-wysiwyg';
export default {
  data() {
    return {
      text: '',
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      config: {
        events: {
          'froalaEditor.initialized': function (e, editor) {
            console.log(editor.selection.get());
          },
          'froalaEditor.focus' : function(e, editor) {
          },
        }
      },
      model: 'Edit Your Content Here!'
    }
  },
}
</script>
<style scoped>

</style>
