<template>
  <div class="container">
    <b-card :title="`${article.name}`" class="mt-4">
      <froalaView v-model="article.document"></froalaView>
    </b-card>
  </div>
</template>

<script>
import VueFroala from 'vue-froala-wysiwyg';
export default {
  props: {
    _article: {}
  },
  data() {
    return{
      article: {
        name: '',
        document: ''
      },
    }
  },
  mounted() {
    this.article = { ...this._article}
  }
}
</script>

<style scoped>

</style>
