<template>
  <div v-if="current_user">
    <b-navbar toggleable="md" type="dark" variant="primary">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="/">Pinnacle</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav  class="ml-auto" right>
          <b-nav-item-dropdown right>
            <template slot="button-content">
              <em>{{ current_user.name }}</em>
            </template>
            <b-dropdown-item href="/logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
  <div v-else>
    <b-navbar toggleable="md" type="dark" variant="primary">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="/">Pinnacle</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav  class="ml-auto" right>
          <b-nav-item href="/login">Login</b-nav-item>
          <b-nav-item href="/signup">Signup</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  data: function() {
    return ({
      current_user: null
    })
  },
  props: {
    _current_user: {}
  },
  mounted: function() {
    if (this._current_user[0] === null) {
      this.current_user = null;
    } else {
      this.current_user = { ...this._current_user };
    }
  }
}
</script>

<style scoped>

</style>
