<template>
  <div class="container">
    <b-card title="Login">
      <b-form method="post" action="/login">
        <input type="hidden" name="authenticity_token" :value="csrf">

        <label class="mr-sm-2">Email</label>
        <b-input-group>
          <b-input type="email" class="input" name="email"/>
        </b-input-group>

        <label class="mr-sm-2">Password</label>
        <b-input-group>
          <b-input type="password" class="input" name="password"/>
        </b-input-group>

        <br/>
        <b-button  variant="primary" type="submit">Submit</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    }
  },

}
</script>

<style scoped>

</style>
